<div class=" content">

  <div class=" row">

    <div class=" col-lg-8">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Temperatura</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-minimal-right text-danger-states"> </i>{{ dadoMeteorologico?.temperatura }}ºC
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="temperatura"> </canvas></div>
        </div>
      </div>
    </div>

    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Umidade</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-minimal-right text-info"> </i> {{ dadoMeteorologico?.umidade }}%
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="umidade"> </canvas></div>
        </div>
      </div>
    </div>

    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Velocidade do Vento</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-minimal-right text-success"> </i> {{ dadoMeteorologico?.velocidade_vento_km }} km/h
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="velocidadeVentoKm"> </canvas></div>
        </div>
      </div>
    </div>

    <div class=" col-lg-4">
        <div class=" card card-chart">
          <div class=" card-header">
            <h5 class=" card-category">Velocidade do vento</h5>
            <h3 class=" card-title">
              <i class=" tim-icons icon-minimal-right text-danger-states"> </i> {{ dadoMeteorologico?.velocidade_vento_ms }} m/s
            </h3>
          </div>
          <div class=" card-body">
            <div class=" chart-area"><canvas id="velocidadeVentoMs"> </canvas></div>
          </div>
        </div>
      </div>

      <div class=" col-lg-4">
        <div class=" card card-chart">
          <div class=" card-header">
            <h5 class=" card-category">Pressão Atmosférica</h5>
            <h3 class=" card-title">
              <i class=" tim-icons icon-minimal-right text-success"> </i> {{ dadoMeteorologico?.pressao_atmosferica }} hPa
            </h3>
          </div>
          <div class=" card-body">
            <div class=" chart-area"><canvas id="pressaoAtmosferica"></canvas></div>
          </div>
        </div>
      </div>
     
  </div> 
</div>
