
<div class=" content" >
  <div class=" row">
      <div class=" col-lg-12" >
          <p style="position:relative;float:right;color:#182628">Ultima Atualização: {{dadoMeteorologico?.created | date: "dd/MM/yyyy HH:mm"}}</p>
      </div>
  </div>
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Temperatura</h5>
          <div class="card-container">
              <img src="../../../assets/img/thermometer.png" width="100px"/>
              <h1>{{ dadoMeteorologico?.temperatura }} ºC</h1>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Umidade</h5>
          <div class="card-container">
              <img src="../../../assets/img/drops.png" width="100px"/>
              <h1>{{ dadoMeteorologico?.umidade }} %</h1>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Velocidade do Vento</h5>
          <div class="card-container">
              <img src="../../../assets/img/wind.png" width="100px"/>
              <h1>{{ dadoMeteorologico?.velocidade_vento_ms }} m/s</h1>
          </div>
        </div>
      </div>
    </div>
    
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Direção do Vento</h5>
          <div class="card-container">
              <img src="../../../assets/img/compass.png" width="100px"/>
              <h1>{{ dadoMeteorologico?.direcao_vento }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Pressão Atmosférica</h5>
          <div class="card-container">
              <img src="../../../assets/img/cloud.png" width="100px"/>
              <h1>{{ dadoMeteorologico?.pressao_atmosferica }} hPa</h1>
          </div>
        </div>
      </div>
      </div>
      <div class=" col-lg-4">
          <div class=" card card-chart">
            <div class=" card-header">
              <h5 class=" card-category">Velocidade do Vento</h5>
              <div class="card-container">
                  <img src="../../../assets/img/wind _.png" width="100px"/>
                  <h1>{{ dadoMeteorologico?.velocidade_vento_km }} km/h</h1>
              </div>
            </div>
          </div>
        </div>

  </div>
  
</div>
