<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-body">
          <div class="table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr class="text-center">
                  <th>Data e Hora</th>
                  <th>Temperatura (ºC)</th>
                  <th>Umidade (%)</th>
                  <th>Velocidade do vento (Km/h)</th>
                  <th>Velocidade do vento (m/s)</th>
                  <th>Direção do Vento </th>
                  <th>Pressão Atmosférica (hPa)</th>
                  <th>Rotação por Minuto (RPM)</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center" *ngFor="let dado of dadosMeteorologicos">
                  <td>{{ dado?.created | date: "dd/MM HH:mm"}}</td>
                  <td>{{ dado?.temperatura }}</td>
                  <td>{{ dado?.umidade }}</td>
                  <td>{{ dado?.velocidade_vento_km }}</td>
                  <td>{{ dado?.velocidade_vento_ms }}</td>
                  <td>{{ dado?.direcao_vento }}</td>
                  <td>{{ dado?.pressao_atmosferica }}</td>
                  <td>{{ dado?.rpm }}</td>
                </tr>                              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
