.card .card-chart .card-header{background-color: royalblue;}
.card {height: auto!important;}
.card-header .card-container{display:flex;flex-wrap: wrap; flex-direction: column;align-items: center;padding: 5px;}
.card .card-header .card-container h1{color: #182628!important;margin-top: 20px;}