<div class=" content">
  <div class=" row">
    <div class="col-sm-12">
      <h4>Logs de Doenças</h4>
    </div>
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter">
              <thead class=" text-primary">
                <div class="row">
                </div>
                <tr class="text-center">
                  <th>Data e Hora</th>
                  <th>Temperatura (ºC)</th>
                  <th>Umidade (%)</th>
                  <th>Log</th>
                </tr>
              </thead>
              <tbody>
                <tr class="" *ngFor="let log_doenca of logs_doencas">
                  <td class="text-center">{{ log_doenca?.created | date: "dd/MM HH:mm" }}</td>
                  <td class="text-center">{{ log_doenca?.temperatura }}</td>
                  <td class="text-center">{{ log_doenca?.umidade }}</td>
                  <td class="td-custom">
                    <p>{{ log_doenca?.log_temperatura_ferrugem_asiatica }},
                      {{ log_doenca?.log_temperatura_oidio }},
                      {{ log_doenca?.log_umidade_ferrugem_asiatica }},
                      {{ log_doenca?.log_umidade_oidio }}
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" row">
    <div class="col-sm-12">
      <h4>Logs de Pragas</h4>
    </div>
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter">
              <thead class=" text-primary">
                <tr class="text-center">
                  <th>Data e Hora</th>
                  <th>Temperatura (ºC)</th>
                  <th>Umidade (%)</th>
                  <th>Log</th>
                </tr>
              </thead>
              <tbody>
                <tr class="" *ngFor="let log_praga of logs_pragas">
                  <td class="text-center">{{ log_praga?.created | date: "dd/MM HH:mm" }}</td>
                  <td class="text-center">{{ log_praga?.temperatura }}</td>
                  <td class="text-center">{{ log_praga?.umidade }}</td>
                  <td class="td-custom">
                    <p>{{ log_praga?.log_temperatura_lagarta_falsa_medideira }},
                      {{ log_praga?.log_temperatura_lagarta_mede_palmo }},
                      {{ log_praga?.log_umidade_lagarta_falsa_medideira }}
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>